<h2>Forget Password</h2>
<div class="card p-4 mt-5">
    <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()" class="p-fluid">
      
      <!-- Email Field -->
      <div class="field mb-3">
        <input
          type="email"
          pInputText
          formControlName="email"
          placeholder="Email"
          [class.ng-invalid]="isFieldInvalid('email')"
          [class.ng-dirty]="isFieldDirty('email')"
        />
        <small *ngIf="isFieldInvalid('email')" class="p-error">Email is required, Please enter a valid email.</small>
      </div>
  
      <small *ngIf="isError" class="p-error ">{{errorMsg}}</small>
      <!-- Submit Button -->


      <button
        pButton
        type="submit"
        label="Send OTP code"
        class="p-button-primary mt-3"
        [disabled]="forgetForm.invalid"
      ></button>
    </form>
  </div>
  