<h2>Reset Password</h2>
<div class="card p-4 mt-5">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="p-fluid">
      
      <!-- Email Field -->
      <div class="field mb-3">
        <input
          type="email"
          pInputText
          formControlName="email"
          placeholder="Email"
          [class.ng-invalid]="isFieldInvalid('email')"
          [class.ng-dirty]="isFieldDirty('email')"
        />
        <small *ngIf="isFieldInvalid('email')" class="p-error">Email is required, Please enter a valid email.</small>
      </div>
  
      <!-- Password Field -->
      <div class="field mb-3">
      <p-password 
      formControlName="newPassword"
      
      placeholder="New Password"
      [class.ng-invalid]="isFieldInvalid('newPassword')"
      [class.ng-dirty]="isFieldDirty('newPassword')"
      [toggleMask]="true"
      promptLabel="Choose a password"
    weakLabel="Too simple" 
    mediumLabel="Average complexity" 
    strongLabel="Complex password"
      />
   
    <small *ngIf="isFieldInvalid('newPassword')" class="p-error">
        Password must contain at least one uppercase letter, one lowercase letter, one digit, one special character, and be at least 8 characters long.
    </small>
      </div>
  
      <!-- Re-Password Field -->
      <small *ngIf="isError" class="p-error ">{{errorMsg}}</small>
      <!-- Submit Button -->
      <button
        pButton
        type="submit"
        label="Reset Password"
        class="p-button-primary mt-3"
        [disabled]="resetPasswordForm.invalid"
      ></button>
    </form>
  </div>
  