<div class="grid bg-secondary min-h-screen overflow-hidden">
    <div class="col-12 md:col-6 p-5 ">
        <div class="p-5">

            <h1 class="poppins-bold Welcome">Welcome to </h1>
            <span class="poppins-bold elevate">Elevate</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, commodi.</p>
            <img src="../../assets/bro.png" alt="">
        </div>
    </div>
    <div class="col-12 md:col-6 bg-white p-5 ">
        <app-auth-navbar></app-auth-navbar>
        <div class="w-6 m-auto">
            <router-outlet></router-outlet>
            <app-cont-with></app-cont-with>
        </div>
    </div>

</div>