<h2>Sign In</h2>
<div class="card p-4 mt-5">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-fluid">
      
      <!-- Email Field -->
      <div class="field mb-3">
        <input
          type="email"
          pInputText
          formControlName="email"
          placeholder="Email"
          [class.ng-invalid]="isFieldInvalid('email')"
          [class.ng-dirty]="isFieldDirty('email')"
        />
        <small *ngIf="isFieldInvalid('email')" class="p-error">Email is required, Please enter a valid email.</small>
      </div>
  
      <!-- Password Field -->
      <div class="field mb-3">
      <p-password 
      formControlName="password"
      
      placeholder="Password"
      [class.ng-invalid]="isFieldInvalid('password')"
      [class.ng-dirty]="isFieldDirty('password')"
      [toggleMask]="true"
      promptLabel="Choose a password"
    weakLabel="Too simple" 
    mediumLabel="Average complexity" 
    strongLabel="Complex password"
      />
   
    <small *ngIf="isFieldInvalid('password')" class="p-error">
        Password must contain at least one uppercase letter, one lowercase letter, one digit, one special character, and be at least 8 characters long.
    </small>
      </div>

    <div class="flex justify-content-between">
        <!-- Remember Me Checkbox -->
        <div class="field-checkbox mb-3">
            <p-checkbox
              name="rememberMe"
              binary="true"
              label="Remember me"
            ></p-checkbox>
          </div>
          <a routerLink="/auth/forget-password" class="forget">Forget password?</a>
    </div>
  
      <small *ngIf="isError" class="p-error ">{{errorMsg}}</small>
      <!-- Submit Button -->
      <button
        pButton
        type="submit"
        label="Sign In"
        class="p-button-primary mt-3"
        [disabled]="loginForm.invalid"
      ></button>
    </form>
  </div>
  